[Unit]
Description=Daily Skyrim Together VR build storage cleanup

[Timer]
OnBootSec=15m
OnUnitActiveSec=1d
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
