[Unit]
Description=Regular Skyrim Together VR build storage cleanup

[Timer]
OnBootSec=10m
OnUnitActiveSec=3h
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
