[submodule "Libraries/TiltedReverse"]
	path = Libraries/TiltedReverse
	url = https://github.com/ObeseCatLord/TiltedReverse.git
	branch = stvr-vr-port
[submodule "Libraries/TiltedUI"]
	path = Libraries/TiltedUI
	url = https://github.com/ObeseCatLord/TiltedUI.git
	branch = stvr-directxtk-24
[submodule "Libraries/TiltedConnect"]
	path = Libraries/TiltedConnect
	url = https://github.com/ObeseCatLord/TiltedConnect.git
	branch = stvr-vr-owner-lifecycle
[submodule "Libraries/TiltedHooks"]
	path = Libraries/TiltedHooks
	url = https://github.com/TiltedPhoques/TiltedHooks
[submodule "Libraries/TiltedScript"]
	path = Libraries/TiltedScript
	url = https://github.com/TiltedPhoques/TiltedScript
[submodule "Libraries/CommonLibSSE-NG"]
	path = Libraries/CommonLibSSE-NG
	url = https://github.com/ObeseCatLord/CommonLibSSE-NG.git
	branch = stvr-exclusive-vr-6.1.1
[submodule "Libraries/activeragdoll"]
	path = Libraries/activeragdoll
	url = https://github.com/ObeseCatLord/activeragdoll.git
	branch = stvr-network-api
