[submodule "Libraries/TiltedReverse"]
	path = Libraries/TiltedReverse
	url = https://github.com/ObeseCatLord/TiltedReverse.git
	branch = stvr-vr-port
[submodule "Libraries/TiltedUI"]
	path = Libraries/TiltedUI
	url = https://github.com/TiltedPhoques/TiltedUI
[submodule "Libraries/TiltedConnect"]
	path = Libraries/TiltedConnect
	url = https://github.com/ObeseCatLord/TiltedConnect.git
	branch = stvr-vr-owner-lifecycle
[submodule "Libraries/TiltedHooks"]
	path = Libraries/TiltedHooks
	url = https://github.com/TiltedPhoques/TiltedHooks
[submodule "Libraries/TiltedScript"]
	path = Libraries/TiltedScript
	url = https://github.com/TiltedPhoques/TiltedScript
[submodule "Libraries/cpp-httplib"]
	path = Libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Libraries/CommonLibSSE-NG"]
	path = Libraries/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
